<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CardDOMapper">
<resultMap id="cardDO" type="domain.CardDO">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR"/>
    <result column="description" property="description" jdbcType="VARCHAR"/>
    <result column="picture" property="picture" jdbcType="VARCHAR"/>
    <result column="cardtype" property="cardtype" jdbcType="VARCHAR"/>
    <result column="person" property="person" jdbcType="VARCHAR"/>
    <result column="ext" property="ext" jdbcType="VARCHAR"/>
    <result column="status" property="status" jdbcType="VARCHAR"/>
    <result column="gmtcreate" property="gmtcreate" jdbcType="TIMESTAMP"/>
    <result column="gmtupdate" property="gmtupdate" jdbcType="TIMESTAMP"/>
</resultMap>

    <insert id="insert" parameterType="domain.CardDO">
        insert into card(id,title,subtitle,description,picture,cardtype,person,ext,status,gmtcreate,gmtupdate)
        values (#{id},#{title},#{subtitle},#{description},#{picture},#{cardtype},#{person},#{ext},#{status},now(),now())
    </insert>

    <select id="select" parameterType="domain.CardDO" resultType="java.util.Map">
        select * from card
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="subtitle != null">
                and subtitle like #{subtitle}
            </if>
            <if test="person != null">
                and person like #{person}
            </if>
        </where>
    </select>

    <select id="find" parameterType="INT" resultMap="cardDO" >
        SELECT *
        FROM card
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="domain.CardDO">
        update card
        <set>
            gmtupdate = now(),
            <if test="id != null">id=#{id},</if>
            <if test="title != null">title=#{title},</if>
            <if test="subtitle != null">subtitle=#{subtitle},</if>
            <if test="description != null">description=#{description},</if>
            <if test="picture != null">picture=#{picture},</if>
            <if test="cardtype != null">cardtype=#{cardtype},</if>
            <if test="person != null">person=#{person},</if>
            <if test="ext != null">ext=#{ext},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.util.List">
        DELETE
        FROM card
        WHERE
        <foreach collection="list" item="item" index="index" separator="or">
            ( title=#{item.title}
            and person=#{item.person}
            and cardtype = #{item.cardtype}
             )
        </foreach>

    </delete>


</mapper>